@media screen and (max-width: 767px) {
    #topBlank {
        margin-top: 3em !important;
    }

    #dskBlurb {
        display: none !important;
    }
    #mBlurb {
        display: block !important;
    }
    .screen {
        padding-bottom: 0em !important;
    } 

    .item {
        padding-bottom: 0em !important;
    } 
    
}

$green: #1C9754;
$overlayGreen: rgba(28, 151, 83, 0.692);
$overlayGreenNon0pacity: rgb(64, 175, 116);
$darkGreen: #157541;
$gray: #919191;
$black: #000000;
$white: #ffffff;
$red: #BE1111;
$grayBG: #F4F4F4;
$inclusive: #e0e0e0;
$main: 14px;
$h1: 30px;
$h2: 20px;
$h3: 16px;

.item {
    box-shadow: none;
    outline: none;
    padding-bottom: 5em;
}

.screen {
    padding-top: 5em;
    padding-bottom: 5em;
} 

.btn-koop {
    background-color: $green;
    padding: 0.6em 1em 0.6em 1em;
    color: $white;
    outline: none !important;
    box-shadow: none !important;
    &:hover {
        color: $white;
        background-color: $darkGreen;
    }
       &:focus {
        color: $white;
        }
}

.btn-red {
    background-color: transparent;
    padding: 0.5em;
    width: 48%;
    color: $gray;
    border-color: $gray;
    outline: none !important;
    box-shadow: none !important;
    &:hover {
        color: $white;
        background-color: $red;
        border-color: transparent;
    }
}

.btn-calc {
    @extend .btn-koop;
    padding: 0.5em;
    width: 48%;
}

.btn-line {
    @extend .btn-koop;
    background: transparent;
    border-color: $gray;
    color: $gray;
    &:hover {
        background: $green;
        border-color: transparent;
    }
    &:focus {
        background: $green;
        border-color: transparent;
    }
}

.bg-koop {
    background: $green;
}

.up {
    color: $green;
}

.down {
    color: $red;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: $main;
    h1 {
        font-size: $h1;
        text-transform: uppercase;
        font-weight: 700;
    }
    h2 {
        font-size: $h2;
        text-transform: uppercase;
        font-weight: 700;
    }
    h3 {
        font-size: $h3;
        text-transform: uppercase;
        font-weight: 700;
    }
}

#mBlurb {
    display: none;
}


header{
    color: $white;
    background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0,0,0,.7)), url('/assets/materials/jpg/header.png') no-repeat top center;
    background-size: cover;
    min-height: 100vh;
    hr {
        background: $white;
        opacity: 0.2;
    }

    .nav-link {
        color: $white !important;
        text-transform: uppercase;
    }

    .active {
        font-weight: 700 !important;
    }

    
    .line {
        width: 30px;
        height: 2px;
        background-color: $white;
        margin: 5px 0;
    }

    .navbar-light .navbar-toggler {
        border: none;
        outline: none !important;
        box-shadow: none !important;
        padding: 0;
    }

    .topSec {
        a {
            color: $white !important;
            text-decoration: none;
            &:hover {
                text-decoration: none !important;
            }
            i {
                font-size: 16px;
                color: $white;
            }
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: 700;
    }

    .dark-overlay {
        background: $black;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
    }
}

main {
    background: $grayBG;
    font-weight: 700;
    text-transform: uppercase;
    i {
        font-size: 16px;
    }
    span {
        color: $gray;
    }
    }

section {
    hr {
        width: 50px;
        border: 2px solid $green ;
        background: $green;
    }
    p {
        color: $gray;
    }
    a {
        text-decoration: none !important;
        color: $black;
    }
    .inclusive {
        border: 1px solid $inclusive;
        border-radius: 0.2em;
        padding: 2em 4em 2em 4em;
        transition: all 0.5s ease;
        &:hover {
            background: $green;
            color: $white;
            border: solid 1px transparent;
        }
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAm0lEQVQ4T+2TQQ6CMBBFH6fRK5jgHk8siUvxBGzwNJpPWtOUKW1SNibttm9eh89Mx8GnO9hHE9YnamV4gjXbJaM/Ax/gHXKW8AFcgAGYEtIrcAdmx/4wS9gDoyMsqZcJuQHPXIe690X6JElfrih8bCMTszeHsVS8OleNKcsJ4049n5SVCEOpmVn800pXTyOikxultsv1q/wHGX4Bi7waFY9OU+4AAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-position: 98%;
    }

    label {
        color: $gray;
        font-size: 15px;
        font-weight: 600;
    }

    .label-koop {
        color: $black !important;
        font-weight: 400;
    }

    #topBlank {
        // JS will change this -> 7.1em
        margin-top: 10em;
        transition: 1s all ease;
    }

    #Sec0, #Sec1, #Sec2 {
        cursor: pointer;
        transition: 1s all ease;
    }

    #Sec0 {
        background: $green;
        color: $white;
        border: solid 1px transparent;
    }

    .CompVisible {
        visibility: hidden;
        transition: 1s all ease;
        opacity: 0;
    }
}

.Sec2 {
    img {
        border-radius: 5px;
        filter: grayscale(1);
        transition: all 1s ease;
        cursor: pointer;
        &:hover {
            filter: grayscale(0);
        }
    }

    #title0ne, #titleTw0, #titleThree, #titleFour {
        transition: 1s ease all;
    }


    .press {
            color: $white;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
        }

    #flow {
        transition: all 1s ease;
    }

    .overlay-green {
        background: $overlayGreen;
    }

    .card-img-overlay {
        transition: 1s ease all;
        height: 25%;
        margin-top: auto;
    }
}


.Sec3 {
    img {
        border-radius: 5px;
    }

    .reSizer {
        height: 30%;
        width: 100%;
        object-fit: cover;
    }

    .press {
        cursor: pointer;
        text-transform: capitalize;
    }

    .dot {
        color: $gray;
    }

    .slick {
        position: relative;
        span {
            cursor: pointer;
        }
    }
}

.Sec4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 0, 0, 0.795)), url('/assets/materials/jpg/big_building.png') no-repeat top center;
    background-size: cover;
    color: $white;
    padding: 10em 0em 10em 0em;
    p {
        color: $white;
        font-weight: 300;
    }
}

footer {
    border-top: 5px solid $darkGreen;
    background: $grayBG;
    padding: 5em 0em 5em 0em;
    h3 {
        color: $gray;
    }
    p {
        color: $gray;
    }
    i {
        color: $gray;
        &:hover {
            color: $darkGreen;
        }
    }

    a {
        text-decoration: none !important; 
        p {
            &:hover {
                text-decoration: underline;
                color: $darkGreen;

            }
        }
    }
}

.scrollTop {
    i {
        background: $green;
        padding: 15px 20px 15px 20px;
        font-size: 1.5em;
        border-radius: 50em;
        color: $white;
        position: fixed;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.19);
        &:hover {
            background-color: $overlayGreenNon0pacity;
        }
        &:focus {
            opacity: 0;
        }
    }
}