@media screen and (max-width: 767px) {
  #topBlank {
    margin-top: 3em !important;
  }
  #dskBlurb {
    display: none !important;
  }
  #mBlurb {
    display: block !important;
  }
  .screen {
    padding-bottom: 0em !important;
  }
  .item {
    padding-bottom: 0em !important;
  }
  iframe {
    min-height: 50vh !important;
  }
}

::-moz-selection {
  background-color: #1C9754;
  color: #ffffff;
}

::selection {
  background-color: #1C9754;
  color: #ffffff;
}

::-moz-selection {
  background-color: #1C9754;
  color: #ffffff;
}

::-webkit-selection {
  background-color: #1C9754;
  color: #ffffff;
}

a {
  cursor: pointer;
}

.item {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding-bottom: 5em;
}

.screen {
  padding-top: 5em;
  padding-bottom: 5em;
}

button {
  font-size: 15px !important;
}

.btn-koop, .btn-calc, .btn-line {
  background-color: #1C9754;
  padding: 0.6em 1em 0.6em 1em;
  color: #ffffff;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-koop:hover, .btn-calc:hover, .btn-line:hover {
  color: #ffffff;
  background-color: #157541;
}

.btn-koop:focus, .btn-calc:focus, .btn-line:focus {
  color: #ffffff;
}

.btn-disClose {
  background-color: transparent;
  color: #1C9754;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 21px;
}

.btn-disClose:hover {
  color: #000000;
  background-color: transparent;
}

.btn-disClose:focus {
  color: black;
}

.log1n, .reg1ster {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.938);
  overflow: hidden;
  padding-top: 20px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.closeBtn {
  position: absolute;
  right: 5%;
}

.custom-login {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #1C9754;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  resize: none;
}

.custom-login:focus {
  border-bottom: solid 2px #157541 !important;
  background: none !important;
}

.custom-login::-webkit-input-placeholder {
  opacity: 0.5;
}

.custom-login:-ms-input-placeholder {
  opacity: 0.5;
}

.custom-login::-ms-input-placeholder {
  opacity: 0.5;
}

.custom-login::placeholder {
  opacity: 0.5;
}

.custom-login a {
  color: #157541 !important;
}

.custom-login:focus + .input-group-koop {
  border-bottom: solid 2px #157541;
  background: transparent;
}

.dropKoop {
  background-position: bottom 8px right 10px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  font-size: 15px;
}

.dropKoop:focus {
  border-color: #ced4da;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.inputKoop {
  padding: 0.5em;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  border: solid 1px #ced4da;
  border-radius: 5px;
}

.inputKoop::-webkit-input-placeholder {
  opacity: 1;
  color: #495057;
  padding-left: 0.4em;
}

.inputKoop:-ms-input-placeholder {
  opacity: 1;
  color: #495057;
  padding-left: 0.4em;
}

.inputKoop::-ms-input-placeholder {
  opacity: 1;
  color: #495057;
  padding-left: 0.4em;
}

.inputKoop::placeholder {
  opacity: 1;
  color: #495057;
  padding-left: 0.4em;
}

.input-group-koop {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #1C9754;
}

.input-group-text {
  background: transparent;
  border: none;
  border-radius: 0px;
  opacity: 0.2;
}

iframe {
  width: 100%;
  height: auto;
  min-height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  padding: 1em;
  border: solid 2px #F4F4F4 !important;
}

.btn-red {
  background-color: transparent;
  padding: 0.6em 1em 0.6em 1em;
  width: 48%;
  color: #919191;
  border-color: #919191;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-red:hover {
  color: #ffffff;
  background-color: #BE1111;
  border-color: transparent;
}

.btn-calc {
  padding: 0.5em;
  width: 48%;
}

.btn-line {
  background: transparent;
  border-color: #919191;
  color: #919191;
}

.btn-line:hover {
  background: #1C9754;
  border-color: transparent;
}

.btn-line:focus {
  background: #1C9754;
  border-color: transparent;
}

.bg-koop {
  background: #1C9754;
}

.up {
  color: #1C9754;
}

.down {
  color: #BE1111;
}

.koop-nav-green {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background: #1C9754;
  color: #ffffff;
  opacity: 0;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.visible {
  visibility: visible;
  opacity: 1 !important;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#navReset {
  margin-top: -1em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

body h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

body h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

#mBlurb {
  display: none;
}

.inPage {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/assets/materials/jpg/buildCover.jpg") no-repeat top center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/materials/jpg/buildCover.jpg") no-repeat top center !important;
  color: white;
  min-height: 75vh !important;
  padding-bottom: 2.5em;
}

.inPage .inPageHr {
  width: 50px;
  border: 2px solid #1C9754;
  background: #1C9754;
  opacity: 1;
}

.inPage .inPageIcon {
  color: #ffffff;
  border: solid 1px #ffffff;
  height: 30px;
  width: 30px;
  padding-top: 0.5em;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.inPage .inPageIcon:hover {
  background: #1C9754;
  color: #ffffff;
  border-color: #1C9754;
}

.inPageSec1 {
  padding: 5em 0em 5em 0em;
}

.inPageSec1 .cropMask {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 5px;
}

.inPageSec1 span {
  color: #919191;
}

.inPageSec1 a {
  color: #1C9754;
  text-decoration: underline !important;
}

.inPageSec1 .StandartHr {
  width: 100% !important;
  border: 1px solid #919191 !important;
  background: #919191;
  opacity: 0.1 !important;
}

.inPageSec1 img {
  padding: 1em !important;
  border: solid 2px #F4F4F4 !important;
  border-radius: 5px;
}

.inPageSec1 .rightSideForm {
  background: #F4F4F4;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  border-radius: 5px;
  padding-top: 2em;
  border: solid 3px #EFEFEF;
}

header {
  min-height: 100vh;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/assets/materials/jpg/header.jpg") no-repeat top center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/materials/jpg/header.jpg") no-repeat top center;
  background-size: cover;
}

header hr {
  background: #ffffff;
  opacity: 0.2;
}

header .nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
}

header .active {
  font-weight: 700 !important;
}

header .line1, header .line2, header .line3 {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header .lineT .line1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header .lineT .line2 {
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header .lineT .line3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -0.94em;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

header .navbar-light .navbar-toggler {
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0;
}

header .topSec a {
  font-size: 12px;
  color: #ffffff !important;
  text-decoration: none;
}

header .topSec a:hover {
  text-decoration: none !important;
}

header .topSec a i {
  font-size: 16px;
  color: #ffffff;
}

header h1 {
  text-transform: uppercase;
  font-weight: 700;
}

header .dark-overlay {
  background: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.list-2 {
  cursor: pointer;
}

.nav-link {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dropdown-menu {
  padding-right: 35px !important;
  border-radius: 0px 5px 5px 5px;
  background: #1c9754;
  color: #fff !important;
  border: 0px;
  -webkit-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5em;
  margin-top: 0;
}

.navbar-light .navbar-nav .show > .nav-link {
  background: #1c9754;
  margin-bottom: 0;
  border-radius: 5px 5px 0px 0px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #ffffff !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent !important;
  border: 0;
  font-size: 14px;
}

.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-divider {
  margin-left: 15px;
  border-color: #e9ecef2b;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 1rem !important;
  margin-right: .1rem;
}

main {
  background: #F4F4F4;
  font-weight: 700;
  text-transform: uppercase;
}

main i {
  font-size: 16px;
}

main span {
  color: #919191;
}

section hr {
  width: 50px;
  border: 2px solid #1C9754;
  background: #1C9754;
}

section p {
  color: #919191;
}

section a {
  text-decoration: none !important;
  color: #000000;
}

section .inclusive {
  border: 1px solid #e0e0e0;
  border-radius: 0.2em;
  padding: 2em 4em 2em 4em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section .inclusive:hover {
  background: #1C9754;
  color: #ffffff;
  border: solid 1px transparent;
}

section select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAm0lEQVQ4T+2TQQ6CMBBFH6fRK5jgHk8siUvxBGzwNJpPWtOUKW1SNibttm9eh89Mx8GnO9hHE9YnamV4gjXbJaM/Ax/gHXKW8AFcgAGYEtIrcAdmx/4wS9gDoyMsqZcJuQHPXIe690X6JElfrih8bCMTszeHsVS8OleNKcsJ4049n5SVCEOpmVn800pXTyOikxultsv1q/wHGX4Bi7waFY9OU+4AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 98%;
}

section label {
  color: #919191;
  font-size: 15px;
  font-weight: 600;
}

section .label-koop {
  color: #000000 !important;
  font-weight: 400;
}

section #topBlank {
  margin-top: 10em;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

section #Sec0, section #Sec1, section #Sec2 {
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

section #Sec0 {
  background: #1C9754;
  color: #ffffff;
  border: solid 1px transparent;
}

section #Sec0:hover {
  background: #1C9754 !important;
  color: #ffffff !important;
}

section .CompVisible {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  opacity: 0;
}

.Sec2 img {
  border-radius: 5px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.Sec2 img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.Sec2 #title0ne, .Sec2 #titleTw0, .Sec2 #titleThree, .Sec2 #titleFour {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.Sec2 .press {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.Sec2 #flow {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.Sec2 .overlay-green {
  background: rgba(28, 151, 83, 0.692);
}

.Sec2 .card-img-overlay {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  height: 25%;
  margin-top: auto;
}

.Sec3 img {
  border-radius: 5px;
}

.Sec3 .reSizer {
  height: 30%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Sec3 .press {
  cursor: pointer;
  text-transform: capitalize;
}

.Sec3 .dot {
  color: #919191;
}

.Sec3 .slick {
  position: relative;
}

.Sec3 .slick span {
  cursor: pointer;
}

.Sec4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(1, 0, 0, 0.5))), url("/assets/materials/jpg/buildCover.jpg") no-repeat top center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 0, 0, 0.5)), url("/assets/materials/jpg/buildCover.jpg") no-repeat top center;
  background-size: cover;
  color: #ffffff;
  padding: 10em 0em 10em 0em;
}

.Sec4 p {
  color: #ffffff;
  font-weight: 300;
}

footer {
  background: #F4F4F4;
  padding: 5em 0em 5em 0em;
}

footer h3 {
  color: #919191;
}

footer p {
  color: #919191;
}

footer i {
  color: #919191;
}

footer i:hover {
  color: #157541;
}

footer a {
  text-decoration: none !important;
}

footer a p:hover {
  text-decoration: underline;
  color: #157541;
}

.scrollTop {
  opacity: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.scrollTop i {
  background: #1C9754;
  padding: 15px 20px 15px 20px;
  font-size: 1.5em;
  border-radius: 50em;
  color: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
}

.scrollTop i:hover {
  background-color: #40af74;
}
/*# sourceMappingURL=main.css.map */