@media screen and (max-width: 767px) {
  #topBlank {
    margin-top: 3em !important;
  }
  #dskBlurb {
    display: none !important;
  }
  #mBlurb {
    display: block !important;
  }
  .screen {
    padding-bottom: 0em !important;
  }
  .item {
    padding-bottom: 0em !important;
  }
}

.item {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  padding-bottom: 5em;
}

.screen {
  padding-top: 5em;
  padding-bottom: 5em;
}

.btn-koop, .btn-calc, .btn-line {
  background-color: #1C9754;
  padding: 0.6em 1em 0.6em 1em;
  color: #ffffff;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-koop:hover, .btn-calc:hover, .btn-line:hover {
  color: #ffffff;
  background-color: #157541;
}

.btn-koop:focus, .btn-calc:focus, .btn-line:focus {
  color: #ffffff;
}

.btn-red {
  background-color: transparent;
  padding: 0.5em;
  width: 48%;
  color: #919191;
  border-color: #919191;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-red:hover {
  color: #ffffff;
  background-color: #BE1111;
  border-color: transparent;
}

.btn-calc {
  padding: 0.5em;
  width: 48%;
}

.btn-line {
  background: transparent;
  border-color: #919191;
  color: #919191;
}

.btn-line:hover {
  background: #1C9754;
  border-color: transparent;
}

.btn-line:focus {
  background: #1C9754;
  border-color: transparent;
}

.bg-koop {
  background: #1C9754;
}

.up {
  color: #1C9754;
}

.down {
  color: #BE1111;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

body h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

body h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

#mBlurb {
  display: none;
}

header {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.11)), to(rgba(0, 0, 0, 0.7))), url("/assets/materials/jpg/header.png") no-repeat top center;
  background: linear-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.7)), url("/assets/materials/jpg/header.png") no-repeat top center;
  background-size: cover;
  min-height: 100vh;
}

header hr {
  background: #ffffff;
  opacity: 0.2;
}

header .nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
}

header .active {
  font-weight: 700 !important;
}

header .line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 5px 0;
}

header .navbar-light .navbar-toggler {
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  padding: 0;
}

header .topSec a {
  color: #ffffff !important;
  text-decoration: none;
}

header .topSec a:hover {
  text-decoration: none !important;
}

header .topSec a i {
  font-size: 16px;
  color: #ffffff;
}

header h1 {
  text-transform: uppercase;
  font-weight: 700;
}

header .dark-overlay {
  background: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

main {
  background: #F4F4F4;
  font-weight: 700;
  text-transform: uppercase;
}

main i {
  font-size: 16px;
}

main span {
  color: #919191;
}

section hr {
  width: 50px;
  border: 2px solid #1C9754;
  background: #1C9754;
}

section p {
  color: #919191;
}

section a {
  text-decoration: none !important;
  color: #000000;
}

section .inclusive {
  border: 1px solid #e0e0e0;
  border-radius: 0.2em;
  padding: 2em 4em 2em 4em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section .inclusive:hover {
  background: #1C9754;
  color: #ffffff;
  border: solid 1px transparent;
}

section select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAm0lEQVQ4T+2TQQ6CMBBFH6fRK5jgHk8siUvxBGzwNJpPWtOUKW1SNibttm9eh89Mx8GnO9hHE9YnamV4gjXbJaM/Ax/gHXKW8AFcgAGYEtIrcAdmx/4wS9gDoyMsqZcJuQHPXIe690X6JElfrih8bCMTszeHsVS8OleNKcsJ4049n5SVCEOpmVn800pXTyOikxultsv1q/wHGX4Bi7waFY9OU+4AAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 98%;
}

section label {
  color: #919191;
  font-size: 15px;
  font-weight: 600;
}

section .label-koop {
  color: #000000 !important;
  font-weight: 400;
}

section #topBlank {
  margin-top: 10em;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

section #Sec0, section #Sec1, section #Sec2 {
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

section #Sec0 {
  background: #1C9754;
  color: #ffffff;
  border: solid 1px transparent;
}

section .CompVisible {
  visibility: hidden;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  opacity: 0;
}

.Sec2 img {
  border-radius: 5px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

.Sec2 img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.Sec2 #title0ne, .Sec2 #titleTw0, .Sec2 #titleThree, .Sec2 #titleFour {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

.Sec2 .press {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
}

.Sec2 #flow {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.Sec2 .overlay-green {
  background: rgba(28, 151, 83, 0.692);
}

.Sec2 .card-img-overlay {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  height: 25%;
  margin-top: auto;
}

.Sec3 img {
  border-radius: 5px;
}

.Sec3 .reSizer {
  height: 30%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Sec3 .press {
  cursor: pointer;
  text-transform: capitalize;
}

.Sec3 .dot {
  color: #919191;
}

.Sec3 .slick {
  position: relative;
}

.Sec3 .slick span {
  cursor: pointer;
}

.Sec4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(1, 0, 0, 0.795))), url("/assets/materials/jpg/big_building.png") no-repeat top center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(1, 0, 0, 0.795)), url("/assets/materials/jpg/big_building.png") no-repeat top center;
  background-size: cover;
  color: #ffffff;
  padding: 10em 0em 10em 0em;
}

.Sec4 p {
  color: #ffffff;
  font-weight: 300;
}

footer {
  border-top: 5px solid #157541;
  background: #F4F4F4;
  padding: 5em 0em 5em 0em;
}

footer h3 {
  color: #919191;
}

footer p {
  color: #919191;
}

footer i {
  color: #919191;
}

footer i:hover {
  color: #157541;
}

footer a {
  text-decoration: none !important;
}

footer a p:hover {
  text-decoration: underline;
  color: #157541;
}

.scrollTop i {
  background: #1C9754;
  padding: 15px 20px 15px 20px;
  font-size: 1.5em;
  border-radius: 50em;
  color: #ffffff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
}

.scrollTop i:hover {
  background-color: #40af74;
}

.scrollTop i:focus {
  opacity: 0;
}
/*# sourceMappingURL=main.css.map */